<div class="row">
<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a data-target="#request" href="" role="tab" data-toggle="tab">Request</a>
    </li>
    <li role="presentation"><a data-target="#billing" href="" role="tab" data-toggle="tab">Billing</a></li>
</ul>

<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="request">
<div>
<h3>Make a New Request</h3>

<button class="btn btn-primary" data-toggle="modal" data-target="#saveRequestModal" ng-click="clear()">
    <span class="glyphicon glyphicon-flash"></span> New Request
</button>

<hr>

<div class="modal fade" id="deviceViewModal" tabindex="-1" role="dialog" aria-labelledby="myRequestLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myRequestLabel">Create or edit a Request</h4>
                </div>
                <div class="modal-body">

                    <div class="wrapper">
                        <div class="container1">

                            <div id="two-columns" class="grid-container" style="display:block;">
                                <ul class="rig columns-3">
                                    <li ng-repeat="device in requestDevices">
                                        <img src="images/Nexus_5.png"/>

                                        <p>Device Name : {{device.deviceId}}</p>

                                        <p>Device Memory : {{device.deviceMemory}}</p>

                                        <p>Device Version : {{device.deviceVersion}}</p>
                                        <button class="btn btn-primary" ng-click="startDevice(device.deviceId)">
                                            <span class="glyphicon glyphicon-play"></span> Start
                                        </button>

                                        <button class="btn btn-primary" ng-click="clear()">
                                            <span class="glyphicon glyphicon-stop"></span> Stop
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--/.container-->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="saveRequestModal" tabindex="-1" role="dialog" aria-labelledby="myRequestLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myRequestLabel">Create or edit a Request</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Resource Version</label>
                        <select class="form-control" ng-model="request.requestType"
                                ng-options="obj.value as obj.text for obj in preDefRequestType">
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Request Start Date</label>
                        <input type="date" class="form-control"
                               ng-model="request.requestStartDate" required>
                    </div>

                    <div class="form-group">
                        <label>Request End Date</label>
                        <input type="date" class="form-control"
                               ng-model="request.requestEndDate" required>
                    </div>

                    <div class="form-group">
                        <label>Resource Quantity</label>
                        <input type="number" class="form-control"
                               ng-model="request.resourceQuantity">
                    </div>

                    <div class="form-group">
                        <label>Resource Type</label>
                        <select class="form-control" ng-model="request.resourceType"
                                ng-options="obj.value as obj.text for obj in preDefResourceType">
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Resource Version</label>
                        <select class="form-control" ng-model="request.resourceVersion"
                                ng-options="obj.value as obj.text for obj in preDefResourceVersion">
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Resource Memory</label>
                        <select class="form-control" ng-model="request.resourceMemory"
                                ng-options="obj.value as obj.text for obj in preDefResourceMemory">
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Resource Backup</label>
                        <input type="checkbox" class="form-control"
                               ng-model="request.resourceBackup">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<h3>Active Requests</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in requests" ng-if="request.requestStatus == 'Active'">
            <td>{{request.requestType}}</td>
            <td>{{request.requestStartDate}}</td>
            <td>{{request.requestEndDate}}</td>
            <td>{{request.resourceQuantity}}</td>
            <td>{{request.resourceType}}</td>
            <td>{{request.resourceVersion}}</td>
            <td>{{request.requestStatus}}</td>
            <td><img src="images/right-arrow.png" data-toggle="modal" data-target="#deviceViewModal"
                     ng-click="deviceView(request)"></td>
        </tr>
        </tbody>
    </table>
</div>

<hr>

<h3>Inactive Requests</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Quantity</th>
            <th>Type</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in requests" ng-if="request.requestStatus == 'Inactive'">
            <td>{{request.requestType}}</td>
            <td>{{request.requestStartDate}}</td>
            <td>{{request.requestEndDate}}</td>
            <td>{{request.resourceQuantity}}</td>
            <td>{{request.resourceType}}</td>
            <td>{{request.resourceVersion}}</td>
            <td>{{request.requestStatus}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane container-fluid" id="billing">

    <div class="billWrapper">
        <div class="amount">
            <h2 class="totalAmt">Total Spent</h2>
            <p>Welcome to the MIAAS Account Billing console. Your current balance appears below. The accompanying bar shows distribution of the costs per request.</p>
            <h1>${{calculateBill()}}.00</h1>

            <div class="progress progress-striped">
                <progress>
                    <bar ng-repeat="bar in stacked track by $index" role="progressbar"
                         value="bar.value" type="{{bar.type}}" style="border-right: 1px solid #000000"><span>${{bar.displayText}}</span></bar>
                </progress>

            </div>
        </div>
    </div>
    <div class="billStats">
        <div class="col-md-6 apiPie">
            <h3>API Version</h3>
            <nvd3-pie-chart
                    data="showApiPie()"
                    objectequality="true"
                    id="exampleId1"
                    width="350"
                    height="350"
                    x="xFunction()"
                    y="yFunction()"
                    tooltips="true"
                    showLegend="true"
                    >
                <svg height="200px"></svg>
            </nvd3-pie-chart>
            <p>This graph shows distribution of the expenditure by API version of the resources.</p>
        </div>
        <div class="col-md-6 memPie">
            <h3>Memory</h3>
            <nvd3-pie-chart
                    data="showMemPie()"
                    objectequality="true"
                    id="exampleId2"
                    width="350"
                    height="350"
                    x="x1Function()"
                    y="y1Function()"
                    tooltips="true"
                    showLegend="true"
                    >
                <svg height="200px"></svg>
            </nvd3-pie-chart>
            <p>This graph shows distribution of the expenditure by memory of the resources.</p>
        </div>

    </div>

    <br>
    <br>
    <br>

    <div class="allRequests">
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="request in requests" heading="Request {{request.id}}"
                             is-disabled="status.isFirstDisabled">
                <label>Request Price : </label></label>{{request.requestPrice}} <br/>
                <label>Request Version : </label></label>{{request.resourceVersion}} <br/>
                <label>Request Memory : </label></label>{{request.resourceMemory}} <br/>
            </accordion-group>
        </accordion>

    </div>

</div>
</div>

</div>


