<div ng-cloak>
<div class="row">
<script>
    $('#myTab a[data-target="#request"]').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $('#myTab a[data-target="#billing"]').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>

<div class="col-md-4">

</div>

<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a data-target="#request" href="" role="tab" data-toggle="tab">Request</a></li>
    <li role="presentation"><a data-target="#billing" href="" role="tab" data-toggle="tab">Billing</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="request">
        <div>
            <h3>Make a New Request</h3>
            <button class="btn btn-primary" data-toggle="modal" data-target="#saveRequestModal" ng-click="clear()">
                <span class="glyphicon glyphicon-flash"></span> New Request
            </button>

            <hr>

            <h3>My Requests</h3>

            <div class="modal fade" id="saveRequestModal" tabindex="-1" role="dialog" aria-labelledby="myRequestLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="form" role="form" novalidate
                              class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                              ng-submit="create()">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title" id="myRequestLabel">Create or edit a Request</h4>
                            </div>
                            <div class="modal-body">

                                <!--<div class="form-group">-->
                                <!--<label>ID</label>-->
                                <!--<input type="text" class="form-control" name="id"-->
                                <!--ng-model="request.id" readonly>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                <!--<label>requestType</label>-->
                                <!--<input type="text" class="form-control"-->
                                <!--ng-model="request.requestType">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label>resourceVersion</label>
                                    <select class="form-control" ng-model="request.requestType" ng-options="obj.value as obj.text for obj in preDefRequestType">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>requestStartDate</label>
                                    <input type="date" class="form-control"
                                           ng-model="request.requestStartDate">
                                </div>

                                <div class="form-group">
                                    <label>requestEndDate</label>
                                    <input type="date" class="form-control"
                                           ng-model="request.requestEndDate">
                                </div>

                                <div class="form-group">
                                    <label>resourceQuantity</label>
                                    <input type="number" class="form-control"
                                           ng-model="request.resourceQuantity">
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label>resourceType</label>-->
                                <!--<input type="text" class="form-control"-->
                                <!--ng-model="request.resourceType">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label>resourceVersion</label>
                                    <select class="form-control" ng-model="request.resourceType" ng-options="obj.value as obj.text for obj in preDefResourceType">
                                    </select>
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label>resourceVersion</label>-->
                                <!--<input type="text" class="form-control"-->
                                <!--ng-model="request.resourceVersion">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label>resourceVersion</label>
                                    <select class="form-control" ng-model="request.resourceVersion" ng-options="obj.value as obj.text for obj in preDefResourceVersion">
                                    </select>
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label>resourceMemory</label>-->
                                <!--<input type="text" class="form-control"-->
                                <!--ng-model="request.resourceMemory">-->
                                <!--</div>-->

                                <div class="form-group">
                                    <label>resourceVersion</label>
                                    <select class="form-control" ng-model="request.resourceMemory" ng-options="obj.value as obj.text for obj in preDefResourceMemory">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>resourceBackup</label>
                                    <input type="checkbox" class="form-control"
                                           ng-model="request.resourceBackup">
                                </div>

                                <!--<div class="form-group">-->
                                <!--<label>user</label>-->
                                <!--<select class="form-control" ng-model="request.userid" ng-options="userid for user in users">-->
                                <!--</select>-->
                                <!--</div>-->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-save"></span> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <!--<th>ID</th>-->
                        <th>requestType</th>
                        <th>requestStartDate</th>
                        <th>requestEndDate</th>
                        <th>resourceQuantity</th>
                        <th>resourceType</th>
                        <th>resourceVersion</th>
                        <!--<th>resourceMemory</th>-->
                        <!--<th>resourceBackup</th>-->
                        <!--<th>user</th>-->
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in requests">
                        <!--<td>{{request.id}}</td>-->
                        <td>{{request.requestType}}</td>
                        <td>{{request.requestStartDate}}</td>
                        <td>{{request.requestEndDate}}</td>
                        <td>{{request.resourceQuantity}}</td>
                        <td>{{request.resourceType}}</td>
                        <td>{{request.resourceVersion}}</td>
                        <!--<td>{{request.resourceMemory}}</td>-->
                        <!--<td>{{request.resourceBackup}}</td>-->
                        <!--<td>{{request.user.login}}</td>-->
                        <!--<td>-->
                        <!--<button type="submit"-->
                        <!--ng-click="update(request.id)"-->
                        <!--class="btn">-->
                        <!--<span class="glyphicon glyphicon-pencil"></span> Edit-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                        <!--ng-click="delete(request.id)"-->
                        <!--class="btn btn-danger">-->
                        <!--<span class="glyphicon glyphicon-remove-circle"></span> Delete-->
                        <!--</button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="billing">
        <h3>Current Bill</h3>
        <p>$3.4 million</p>
        <hr>

        <h3>Previous Bills</h3>
        <p>$8.4 million</p>
    </div>
</div>



</div>
</div>
