<div>

    <h2>Devices</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveDeviceModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Device
    </button>
    <div class="modal fade" id="saveDeviceModal" tabindex="-1" role="dialog" aria-labelledby="myDeviceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDeviceLabel">Create or edit a Device</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="device.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>deviceId</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceId">
                        </div>
                        <div class="form-group">
                            <label>deviceImageName</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceImageName">
                        </div>
                        <div class="form-group">
                            <label>deviceStatus</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceStatus">
                        </div>
                        <div class="form-group">
                            <label>deviceType</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceType">
                        </div>
                        <div class="form-group">
                            <label>deviceVersion</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceVersion">
                        </div>
                        <div class="form-group">
                            <label>deviceMemory</label>
                            <input type="text" class="form-control"
                                   ng-model="device.deviceMemory">
                        </div>

                        <div class="form-group">
                            <label>amazonInstance</label>
                            <select class="form-control" ng-model="device.amazonInstance.id" ng-options="amazonInstance.id as amazonInstance.instanceId for amazonInstance in amazonInstances">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>deviceId</th>
                    <th>deviceImageName</th>
                    <th>deviceStatus</th>
                    <th>deviceType</th>
                    <th>deviceVersion</th>
                    <th>deviceMemory</th>
                    <th>amazonInstance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in devices">
                    <td>{{device.id}}</td>
                    <td>{{device.deviceId}}</td>
                    <td>{{device.deviceImageName}}</td>
                    <td>{{device.deviceStatus}}</td>
                    <td>{{device.deviceType}}</td>
                    <td>{{device.deviceVersion}}</td>
                    <td>{{device.deviceMemory}}</td>
                    <td>{{device.amazonInstance.instanceId}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(device.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(device.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
