
<div>
    <h1 style="text-align: center;margin-bottom: 25px">Network Dashboard</h1>
    <div class="amazoninstances">
        <div on-finish-render="ngRepeatFinished" ng-repeat="ai in amazonInstance" class="gauges">
            <div class="container_12 itemWrapper">
                <h2 style="text-align: center;margin-bottom: 15px">{{ai.instanceid}}</h2>
                <div class="gauge grid_4" data-cpuUtil="{{ai.cpuutilization}}" style="width:200px" id="cpu{{ai.instanceid}}"></div>
                <div class="gaugeResrcs grid_4" data-avlblRescrc="{{ai.availableResources}}" style="width:200px" id="res{{ai.instanceid}}"></div>
            </div>
        </div>

    </div>
</div>