<div>
    <h1 style="text-align: center;margin-bottom: 25px">Your Stats</h1>
    <div class="container_12">
        <div class="grid_6">
            <nvd3-pie-chart
                    data="showPie()"
                    objectequality="true"
                    id="exampleId"
                    width="300"
                    height="300"
                    x="xFunction()"
                    y="yFunction()"
                    tooltips="true"
                    showLabels="true">
                <svg height="500px"></svg>
            </nvd3-pie-chart>
        </div>
    </div>
</div>