/* General Demo Style */
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #888;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}